# IDE
.idea/
venv/
__pycache__

# PRAW configs
praw.ini

# Raw input data
posts/
prices/

# Intermediate date
clean_posts/
counts/
forecaster_evaluation/
garch_coeffs/
intermediate_data/

# Output
*.csv
